* {
  padding: 0;
  margin: 0;
  bottom: 0;
  border: 0;
  font-family: "Anonymous Pro";
}

html,
body {
  height: 100%;
}

.container {
  width: 1178px;
  margin: 0 auto;
}

.error-block {
  padding-top: 150px;
}

.error-block-inner {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.error-block-inner p {
  font-weight: 400;
  font-size: 64px;
  letter-spacing: 0.2em;
  color: #222222;
}
.error-block-inner .txt404 {
  font-size: 404px;
  color: #d9d9d9;
  background-color: #222222;
  padding-left: 60px;
}
.error-block-inner button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: rgba(255, 255, 255, 0);
  padding: 10px;
  margin-top: 10px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.error-block-inner button a {
  font-size: 40px;
  text-decoration: none;
  color: #222222;
}
.error-block-inner button:hover {
  cursor: pointer;
  background-color: #222222;
}
.error-block-inner button:hover a {
  color: #d9d9d9;
}

.v-line {
  position: fixed;
  top: 0;
  right: 0;
  width: 36.875%;
  background-color: #222222;
  z-index: -10;
}